extends layout

block content
    #container.main(style='width:80%;float:right;')
       | WELCOME TO FMYOUTU ADMIN SYSTEM, IF YOU HAVE ANY QUESTIONS PLEASE CONTACT OUR ADMINISTRATOR

       p Thank you for your Cooperation !