html
    head
        meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
        title= subject
        body
            h1.h1 54淘淘
            p
                br
                | 您发起了重置邮箱密码请求, 如果是您本人操作. 请点击一下链接完成重置密码操作.
                br
            p= link

            p
                br
                | 如果这不是您本人操作, 请忽略该邮箱. 如有问题请发信admin@fmyoutu.com 谢谢
                br
                br
                br
                br
                br
                | 54淘淘团队

