<div class="about_youtu">
    <div class="about_youtu_title">关于有图</div>
    <div class="about_youtu_content">
        <!--&nbsp;&nbsp;&nbsp;&nbsp;有一个这样的故事, 在2014年, 辞去了工作, 踏上了旅途. 从中国东部到西部, 从中部到南部, 从东南亚到整个南亚走了无数个城市, 行了上万里路,-->
        <!--尝试了几乎曾经所有能想到的事情, 去了曾经梦想的地方. 这样一走就是一年, 他很满足, 也很开心, 很充实. 因为脑海里的一张张图片, 一个个梦想,-->
        <!--一个接着一个的变成现实.<br><hr>-->
        <!--&nbsp;&nbsp;&nbsp;&nbsp;一年的旅行渐渐的使他成为了朋友眼中的旅行达人, 慢慢的很多人会问他 "什么地方好玩", "哪里漂亮", "什么地方最值得去", "需要注意什么",-->
        <!--等等问题, 他会很开心的分享自己拍摄的照片, 经验, 和一路上可能遇到的故事. 随着时间的推移, 帮助的人越来越多, 有一天他突然想到,-->
        <!--也许我应该把所有我认为最漂亮,最美丽,最值得去的地方通过照片分享出来, 让更多的人知道这些地方, 也许我应该把遇到的所有问题给写下来,-->
        <!--写成笔记, 做成分享, 让更多的人知道这些可能会同样发现的故事. 就这样 "有图" 诞生了. <br><br><hr>-->

        <!--<p>分享图片, 交流经验, 让故事相互传递. </p><hr>-->
        <!--<p>&nbsp;&nbsp;&nbsp;&nbsp;在这里通过图友们之间的图片分享, 让你找到那些让你永生难忘的图片, 旅途从图开始</p>-->
        <!--<p>&nbsp;&nbsp;&nbsp;&nbsp;在这里通过图友们之间的经验分享, 让你的旅行疑问变得不在复杂.</p>-->
        <!--<hr>-->
        <!--我们相信通过图片分享, 经验分享, 我们的旅行选择会变的越来越丰富, 旅行安排越来越简单, 旅行体验越来越好.-->



        我们不仅仅是图片裁缝<br>
        我们还是旅行图片分享社区<br>
        我们还是旅行经验交流社区<br>
        我们为汇聚世界上的每一个图友而努力.<br><br>
        我们相信通过图片分享, 经验分享, 旅行的选择会变的越来越丰富, 旅行安排越来越简单, 旅行体验越来越好.<br>

        <br><br><hr>
        <p>每一个人都有一颗躁动的心, 都想出去看看, 都想去那些惊艳, 会让自己难忘的地方. 但是</p>
        <p>也许你在为 "图而烦恼"</p>
        <p>也许你在为 "去哪里" 而烦恼</p>
        <p>也许你在为 "怎么玩" 而纠结</p>
        <p>也许你还是一个人. </p>
        <br><hr>
        <p>有图(图友) 的诞生, 为的就是把资源整合在一起,把图友连接在一起, 让图无处不在, 让去哪儿, 怎么玩变得更加简单. 欢迎您加入图友大家庭,  让我们一起用分享图来助力更好的旅行 . </p>









    </div>
</div>