
<div id="register-content">
    <div id="register-content-wrapper" class="register-content-wrapper">
        <div class="register-content-wrapper-main">
            <div class="register-content-wrapper-main-title">
                注册
            </div>
            <div class="register-content-wrapper-main-form">
                <form id="register_form" name="register_form-div" ng-submit="submit()" method="POST">

                    <div class="g-div">
                        <div>
                            <label>手机号</label>
                            <input ng-minlength="11" type="text" name="phoneNumber" ng-model="user.phoneNumber" id="register-form-phoneNumber" value="" required/>
                        </div>
                        <div>
                            <label>密码</label>
                            <input type="password" ng-model="user.password" id="register-form-password" name="password" value="" required/>
                        </div>
                    </div>
                    <div class="g-div">
                        <div>
                            <label>用户名</label>
                            <input type="text" name="username" ng-model="user.username" id="register-form-username" value="" required/>
                        </div>
                    </div>
                    <div class="g-div">
                        <label>验证码</label>
                        <input type="text" ng-model="user.scCode" name="scCode" style="width: 50%;" id="register-form-scCode" />
                        <button type="button" class="sendScCode" ng-click="sendVerifyCode()">获取验证码</button>
                    </div>
                    <p>
                    <div>
                        注册即接受 <a href="#/account/services" style="text-decoration: underline;" target="_blank">[54淘淘服务协议]</a>
                    </div>
                    </p>
                    <div class="g-div validation_msg" style="color:red;">

                    </div>
                    <div class="g-div">
                        <input type="submit" id="register-form-submit" value="注册"/>
                    </div>

                    <div>
                        <p><hr></p>
                        <p>
                            <div class="email_registration" ng-click="goBack()" style="cursor: pointer;">返回</a></div>
                            <div class="email_registration"><a href="#/email_registration">邮箱注册</a></div>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>