<div style="padding: 2% 5% 5% 5%;">


<div style="text-align: center; font-size: 20px;">
    54淘淘服务条款, 请仔细阅读.
</div>
<div>
    <span style="font-weight: bold; font-size: 16px;">条款</span>
    <br>
    本最终用户条款（以下或简称「条款」）系由您与54淘淘有限公司（以下简称「54淘淘」）所订立的相关权利义务规范，用以描述54淘淘向您提供服务及您使用服务所涉及的详细规定。因此，请您于注册成为54淘淘用户或开始使用54淘淘提供服务前，切实详细地阅读本条款的所有内容。
    只要您完成注册或开始使用54淘淘提供的任何服务，即表示您已无条件接受了本条款的相关规定及54淘淘就此公布的各项管理规定，并愿意受其约束。如果发生纠纷，您应自行承担事实上未认真阅读本条款的责任，不得以未仔细阅读为由进行抗辩。
    <br>
    <span style="font-weight: bold; font-size: 16px;">管辖</span>
    <br>
    本条款的解释，效力及纠纷的解决，适用于中华人民共和国（不包括港澳台地区）法律。因使用54淘淘服务产生的或与此相关的纠纷，54淘淘及您均有权将其提交至北京仲裁委员会通过仲裁方式解决。仲裁结果具有终局性，对各方均有约束力。
    <br>
    <span style="font-weight: bold; font-size: 16px;">风险</span>
    <br>
    54淘淘仅依「现状」及「现有」基础提供服务，而并未对自身服务的及时性、准确性进行任何形式的担保。
    54淘淘所提供的服务存在因包括不可抗力、计算机病毒或黑客攻击、系统不稳定、您所在位置、通信线路、一起写自身运营调整、合作伙伴调整等因素造成的服务中断或不能满足您要求的风险。
    54淘淘可能随时变更、中断或终止部分或全部的服务且无需另行对您进行通知，请注意定期对您存放在一起写网络服务上的数据进行备份，以避免损失。
    如您欲使用54淘淘提供的服务，须承担以上风险，54淘淘对您或任何第三人由此遭受的损害均不承担赔偿责任。
    <br>
    <span style="font-weight: bold; font-size: 16px;">用户注册及安全</span>
    <br>
    您在54淘淘进行注册时，须提供真实、有效的身份识别资料，并应在前述资料发生变更时，及时于一起写网站进行线上更新。若您所提供的资料与事实不符或所提供的资料业已变更而未更新或有任何误导之嫌而导致一起写无法为您提供或继续提供服务的，您应自行承担由此引发的损失而与一起写无关。
    您须了解和认可，54淘淘账号的使用权仅归属于原始注册人。未经54淘淘的事先书面同意，您不得以任何形式将自身54淘淘账号及密码转让、赠予、出借、售卖予第三方或者以其他方式许可非初始注册人对其进行使用，否则一起写有权封禁、删除该账号。如您并非当前所使用一起写账号的原始注册人，您应立即停止对该账号的一切使用及操作，同时一起写有权依原始注册人之请求或依自身判断将该账号重新交予原始注册人使用，由此引发的全部责任及损失与54淘淘无关。
    您有义务妥善保管在注册时获得的账号及密码，如因黑客、第三人行为或您自身保管疏忽导致账号、密码遭他人非法使用并给您造成损失的，54淘淘就此不承担任何责任。
    如您发现自身账号遭他人非法使用或有异常使用的情形，应立即通知54淘淘，并提供与原始注册人相一致的个人有效身份信息。一起写在核实您所提供的个人有效身份信息后，将尽可能为您维护自身合法权利提供必要协助，但54淘淘并不承诺您一定能通过该途径找回一起写账号。
    <br>
    <span style="font-weight: bold; font-size: 16px;">个人数据和隐私保护</span>
    <br>
    如果您不使用54淘淘网络服务，您的个人数据仅存放在您的电脑和手机中。
    54淘淘承诺将采取必要措施保护用户存放在54淘淘网络服务上的个人数据及隐私信息的安全。
    除本协议约定的除外情况，54淘淘保证不对外公开或向第三方提供、公开或共享您的个人数据及隐私信息。
    在以下情况下，54淘淘对您个人数据及隐私信息的披露将不视为违约，具体包括：
    54淘淘已获得您的明确授权；
    根据有关的法律法规要求，54淘淘负有披露义务的；
    司法机关或行政机关基于法定程序要求54淘淘提供的；
    为维护社会公共利益及54淘淘合法权益，在合理范围内进行披露的。
    54淘淘可能会与第三方合作向用户提供相关的网络服务或使用其数据收集工具用以完善自身服务，在此情况下，如该第三方同意承担与54淘淘同等的隐私保护责任的，则54淘淘可在合理范围内对您的信息进行披露。
    在不披露您的个人数据及隐私的前提下，54淘淘有权对54淘淘整体用户数据信息进行技术分析，并对已进行分析、整理后的统计数据进行利用。
    尽管54淘淘已为用户的隐私权保护做了极大的努力，但是仍然不能保证现有的安全技术措施使您的个人数据及隐私等不受任何形式的损失。您对上述情况充分知情，且不会因此追究一起写的法律责任。
    <br>
    <span style="font-weight: bold; font-size: 16px;">您发布和上传的内容</span>
    <br>
    您须了解并认可，在您使用54淘淘服务公开发表内容 ，须遵守社会公序良德和相关法律法规，且不得发布和上传如下内容：
    违反宪法确定的基本原则的
    违反我国法律、法规及其它规定的
    违背社会公序良俗，有损社会公共利益的
    侵害第三方合法权益的文件或信息，包括但不限于病毒代码、黑客程序、软件破解注册信息等
    未获合法授权的文章、图片、音乐、视频、应用等
    广告内容或链接
    违反54淘淘信息发布政策或损害54淘淘合法权益的
    54淘淘有权对您发布和上传的内容进行审核，如54淘淘根据自身独立判断认为您所发布、上传的内容包含前述情况的，有权直接删除相关内容，且无需另行通知您。您在此确认，54淘淘的审核行为并不为其设置任何义务，也不能免除您的任何责任。
    由于您发布上传的内容带来的法律纠纷或其它后果，需要由您自行承担。
    您在使用54淘淘过程中创作内容所包含的权利将依法归您自行所有。但您应了解，对于您通过54淘淘服务发布、上传至可公开获取区域的任何内容，均视为您已同意授权54淘淘获得相应内容在全世界范围内免费的、永久性的、不可撤销的、非独家的和完全再许可的权利和许可，以使用、复制、修改、改编、出版、翻译、据以创作衍生作品、传播、表演和展示此等内容（整体或部分），和/或将此等内容编入当前已知的或以后开发的其他任何形式的作品、媒体或技术中。
    <br>
    <span style="font-weight: bold; font-size: 16px;">内容及权利保护</span>
    <br>
    54淘淘在此特别提请您注意：如果您发现54淘淘上展示的内容侵犯了您的合法权利，请根据本条款附件《知识产权保护声明》的相关规定，按指定格式向我们发送权利通知，我们会按照法律规定做出相应处理。
    您应确认并了解，尽管54淘淘将一直致力于为您提供更好的应用内容，但54淘淘作为信息网络服务提供商，其自身并无能力对第三方自行上传或存放于第三方服务器上的内容负责，故其无法保证这些内容的准确性、合法性及适用性。
    54淘淘中一些特别有风险的功能，我们会额外请您确认。如果您点选确认或实际使用相应功能的，将视为您已了解并愿意承担相应风险。如您由此遭受实际损失的，须自行承担有关损失。
    <br>
    <span style="font-weight: bold; font-size: 16px;">知识产权</span>
    <br>
    54淘淘自身所提供服务的相关著作权、专利权、商标、商业秘密及其它任何所有权或权利（包括但不限于54淘淘客户端软件、我们对应用的排序等），均由54淘淘独占性所有。非经54淘淘的同意，您不得将其用于54淘淘书面许可外用途（包括但不限于用于违法活动，或进行反向工程等）。
    <br>
    <span style="font-weight: bold; font-size: 16px;">使用规则</span>
    <br>
    您应就自身使用一起写服务的行为负责，并保证在使用一起写服务的过程中遵循以下原则：
    遵守中国有关的法律和法规；
    遵守本条款及一起写发布的相关管理规定；
    不得以任何形式侵犯第三方及一起写的合法利益；
    不得将一起写提供的服务用于任何非法或侵权活动，包括但不限于将其用于展示、传播包含色情、种族主义、低级趣味、淫秽、诽谤中伤、污辱性质的资料，以及传播任何针对宗教、民族传统、人种、性别、年龄的各种仇恨、歧视和偏见的内容。
    一起写有权对您使用服务的情况进行审查和监督，如一起写根据自身独立判断认为您存在违法或违约行为的，有权要求您纠正相应行为，并采取一切必要的措施（包括但不限于更改或删除您发布或上传的内容、暂停或终止您使用一起写服务的权利等）以减轻您行为造成的影响。但您确认，一起写的审查行为并不为其设置任何责任，也不免除您的任何义务。
    <br>
    <span style="font-weight: bold; font-size: 16px;">数据解放</span>
    <br>
    您可以随时退出54淘淘网络服务，并删除保存在54淘淘网络服务上的对应数据。保存在您电脑上的数据，请您自行管理。
    您可以随时导出在54淘淘存放的数据并离开，我们不会阻止您。
    <br>
    <span style="font-weight: bold; font-size: 16px;">变更</span>
    <br>
    54淘淘有权随时修改本条款及相关管理规定，一旦相应内容发生变动，54淘淘将提前 30 天在网站内进行公示，而不再进行个别通知。该公布行为视为一起写已经向您通知修改内容。
    如果您不同意54淘淘进行的修改，有权停止使用54淘淘所提供服务。但如果您继续使用54淘淘所提供服务的，则视为您已接受并愿意遵守54淘淘所做的修改。
    <br>
    <span style="font-weight: bold; font-size: 16px;">赔偿责任</span>
    <br>
    如因54淘淘违反有关法律、法规或本条款项下的任何规定而给您造成实际损失的，54淘淘承诺赔偿您由此遭受的全部直接经济损失，但54淘淘不应承担任何间接、附带、特别、衍生性或惩罚性赔偿责任。
    如因您的行为导致54淘淘遭受任何损失的（包括但不限于行政处罚、第三方赔偿、诉讼费、律师费、商誉损失及其他费用支出等），您应承担全部赔偿责任。
    <br>
    <span style="font-weight: bold; font-size: 16px;">个别条款的效力</span>
    <br>
    如依据我国法律法规的相关规定，本条款内任何规定被判定为部分或全部无效时，不影响其它规定的效力。
</div>

</div>