<div>

    <div class="profile_top">
        <div class="profile_top-avatar">
            <img ng-src="{{user.u_avatar}}">
        </div>
        <div class="profile_top-info">
            <div>小猪章鱼 <span style="font-size: 20px;">上海</span></div>
            <div>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</div>
            <div>头衔: 乞丐</div>
            <div>联系他: xxxxxxxxxxx</div>
        </div>
    </div>

    <div class='trip_list' infinite-scroll="loadMore()" infinite-scroll-distance="2">
        <div class='find'><input placeholder='快速搜索' type="text" ng-keypress="tpFilter()" class='search_bar' maxlength='-1'/><div class="search_btn" ng-click="tpFilter()">搜索</div></div>
        <div class='trip ' ng-repeat="trip in tripList track by $index" >
            <div class='trip_main' ng-click="loginCheck(trip.fs_id)" ng-mouseleave="bgColorRemove(trip.fs_id)" ng-mouseenter="bgColorChange(trip.fs_id)">
                <div class='trip_main_images'>
                    <div ng-if="trip.fs_disPic">
                        <div class="trip_main_city">
                            <span>玩</span>
                            {{trip.fs_city}}
                        </div>
                        <div class="trip_main_country">
                            {{trip.fs_country}}
                        </div>
                        <image class='trip_main_images_image' ng-if='!checkMobile()' ng-src="{{trip.fs_disPic}}"></image>
                        <image class='trip_main_images_image' ng-if='checkMobile()' ng-src="{{trip.fs_disPic}}"></image>
                    </div>
                    <div ng-if="trip.fs_disPic2 && checkMobile()">
                        <div style="position: absolute;" ng-if="trip.fs_discount">
                            <img src="../../img/taotao.png" style="width: 25px;height: 25px;border-radius: 50%;margin: 5px;">
                        </div>
                        <image class='trip_main_images_image' ng-src="{{trip.fs_disPic2.replace('custom','mini')}}"></image>
                    </div>

                </div>
            </div>
            <div class="trip_main_source">
                <div class="trip_main_avatar"><img ng-src="{{trip.u_tag}}"></div>
                <div class='trip_main_title bgColorChange{{trip.fs_id}}'><text>{{trip.fs_promo}}​​​​</text></div>
            </div>
        </div>
        <div class="the_end">没有了.</div>
    </div>




</div>