.explore {
  display: none;
}
.footstep_list_home {
  display: none;
}
.community {
  display: none;
}
#login-content {
  display: none;
}
#register-content {
  display: none;
}
a {
  color: #AEAEAE;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}
button {
  border-radius: 2px;
  background-color: #43c17e;
  border: none;
}
.user-avatar {
  position: relative;
  border-radius: 50%;
  width: auto;
  height: 30px;
  float: left;
}
.user-avatar-img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
.header-right-login {
  margin-right: 10px;
}
.trip_list {
  display: none;
}
.footstep-list {
  display: none;
}
.footstep-list-div {
  display: none;
}
#header {
  height: 100px;
  padding: 30px 0% 0px 2%;
  width: 100%;
}
#header .header_slogo {
  float: left;
  color: #AEAEAE;
  font-size: 20px;
}
#header .header-site {
  color: darkgray;
  float: left;
  font-size: 35px;
  line-height: 1.5em;
}
#header .header_pub {
  height: 45px;
  width: 45px;
  position: absolute;
  text-align: center;
  background-color: #5cb85c;
  font-size: 20px;
  line-height: 2;
  color: whitesmoke;
  display: none;
}
#header .qr_fmyoutu {
  position: absolute;
  height: 100px;
  width: 100px;
  margin-left: 72%;
}
#header .header-div-style {
  min-width: 90px;
  height: 35px;
  color: white;
  background-color: black;
  text-align: center;
  line-height: 2;
  margin: 0px 0px 2px 0px;
}
#header .header-homepage {
  float: left;
  list-style-type: none;
  font-size: 16px;
  color: black;
}
#header .header-right {
  float: right;
  padding-top: 10px;
  margin-right: 10px;
}
#header .header-right .header-right-logout {
  display: none;
}
#header .header-right .header-right-user-icon {
  background: url(../img/default_icon.png) -237px 6px no-repeat;
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  background-color: green;
}
#header .header-right .header-right-user-icon-hover {
  position: fixed;
  top: 10px;
  left: 45%;
  z-index: 1;
}
#footer {
  height: 50px;
  width: 100%;
  float: left;
  line-height: 2;
  margin-top: 200px;
  padding: 0px 20px 0px 20px;
  background-color: lightgrey;
  bottom: 0;
  position: fixed;
  z-index: 1000;
  opacity: 0.9;
}
.message {
  margin: 50px 10%;
}
.message .message-title {
  font-size: 16px;
  margin: 0px 0px 20px;
}
.message .message-content {
  width: 100%;
  border: solid 1px gray;
}
.message .message-submit {
  margin-right: 20px;
  float: right;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 120px;
  border-radius: 5px;
  background-color: darkgray;
  border: none;
}
.message .closeTopic {
  float: right;
  font-size: 20px;
  color: white;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 1.5;
  background-color: gray;
  cursor: pointer;
  border: solid 1px;
  border-radius: 15px;
}
.about {
  float: right;
}
.profile_middle {
  display: none;
}
.foot_wrapper {
  display: none;
}
.topic {
  display: none;
}
.topic_add {
  display: none;
}
.create_footstep {
  display: none;
}
.recommend {
  display: none;
}
.nav_pages {
  float: left;
  width: 98%;
  height: 80px;
  background-color: rebeccapurple;
  margin-bottom: 10px;
}
input:focus {
  border: solid 1px black;
}
.find {
  display: none;
}
.search_bar {
  border: solid 1px #AEAEAE;
  width: 40%;
  height: 45px;
  text-align: center;
  float: left;
  margin-left: 6%;
}
.search_btn {
  height: 45px;
  width: 80px;
  float: left;
  text-align: center;
  line-height: 3;
  background-color: darkgray;
  cursor: pointer;
}
.profile_top {
  display: none;
}
.profile_msg {
  display: none;
}
